<div class="row">
  <div class="col s12 m6 l4 offset-m3 offset-l4">
    <img class="login-logo-image" src="assets/img/logo.jpg" draggable="false" />
    <mz-card [hoverable]="true" class="grey lighten-3 center-align">
      <mz-card-title>
        {{ 'loginForm.title' | translate }}
      </mz-card-title>

      <mz-card-content>
        <mz-input-container>
          <i mz-icon-mdi mz-input-prefix
             [icon]="'email'">
          </i>
          <input mz-input
                 [disabled]="login.processing"
                 [(ngModel)]="login.user"
                 [label]="'loginForm.user.label' | translate"
                 [validate]="true"
                 [placeholder]="'loginForm.user.placeholder' | translate"
                 length="150"
                 type="text">
        </mz-input-container>
        <mz-input-container>
          <i mz-icon-mdi mz-input-prefix
             [icon]="'lock'">
          </i>
          <input mz-input
                 [disabled]="login.processing"
                 [(ngModel)]="login.password"
                 [label]="'loginForm.pass.label' | translate"
                 [validate]="true"
                 [placeholder]="'loginForm.pass.placeholder' | translate"
                 type="password">
        </mz-input-container>
      </mz-card-content>

      <mz-card-action>
        <button mz-button class="blue darken-1" (click)="submitLogin()" [disabled]="login.processing">
          <mz-spinner *ngIf="login.processing" [color]="'blue'" [size]="'small'"></mz-spinner>
          <span *ngIf="!login.processing">{{ 'loginForm.submit' | translate }}</span>
        </button>
      </mz-card-action>
    </mz-card>
  </div>
</div>
